.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    margin-left: 200px;
    margin-top: 50px;
 
    
  }
  
  img {
    max-width: 100%
    
    

  }
  
  .image {
    flex-basis: 100%
    
  }


  .small_button{
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

body {
    background-image: url(fond2.avif);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    text-align: center;
    background-size: cover;
}


.text{
    text-align: justify;
    
  text-justify: inter-word;
  margin-left: 50px;
}

button:hover:not(.active) {
    background-color: rgb(198, 195, 193);
  }

  .button1 {
    padding: 12px;
    background-color: rgb(86, 56, 23); 
    color: rgb(246, 242, 242); 
    border-radius: 15px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
      margin-left: 200px;
  
  }
  
  .button1:hover {
    background-color: rgb(105, 78, 48);
    color: white;
    
  }
