body {
    background-image: url(Books1.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    text-align: center;
    background-size: cover;
}

h1 {
    color: rgb(247, 244, 244);
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 75px;

}

#prolog{
    padding: 40px;
    margin: 0px;
}

.navigation_link{
    color: white;
}

.row{
    width: 20px;
}

#navigation_bar{
    width: 100%;
}